
/* Logo do site */
.figure {
   display: block;
   margin-top: 300px;
   height: 90%;
   width: 100%;
   align-content: center;
    
}


.text-logo {
    text-align: right;
    
    
}
    /* fundo das páginas */
body{
    background-image: url("../image/fundo.jpg");
    background-size:contain;
    background-repeat: repeat;
    
}
/* card dos produtos */
.card{
    display: inline-block;
    height: 15rem;
    border-bottom: 2px solid rgb#333;
    padding: 5px;

    margin: 5px;
}
.card img{
    width: 12rem;
    height: 120px;
}

