h1{
    color: brown;
}

.imageteste {
    width: 400px;
    height: 250px;
}
/* Logo do site */
.figure{
   display: block;

   margin-top: 150px;
   padding: 20px;
    height: 100%;
    width: 100%;

}
.text-logo{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-weight: 900;
}
/* fundo das páginas */
body{
    background-image: url("../image/fundo.jpg");
    background-size:contain;
    background-repeat: repeat;
    
}
/* card dos produtos */
.card{
    display: inline-block;
    align-items: justify;
    width: 13rem;
    height: 20rem;
    border-bottom: 2px solid #333;
    padding: 5px;
    margin: 5px;
}
.card-text{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

/*  Bloco de Informações dos Mercados */
.contato-card{
    width: 100%;
    margin-top: 30px;
    background: #ffde59;
    height: auto;
}
.contato {
    margin-left: 10px;
    color: #4d4d4c;
}
.validade{
    font-size: small;
}
.card h3{
    font-family: 'Fredoka One', cursive;
    font-weight: 1000;
    color: crimson;
    font-size:40px;
}
.card-img-top{
    width: 12rem;
    height: 150px;
    
}

/* Icones- redes sociais */
ul li{
    list-style: none;
    color: #4d4d4c;
}
 ul li img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.endereco-map, .redes, .endereco{

    display: inline-block;
    margin-right: 20px;
 
}
.endereco-map li{
    line-height: 42px;
}
.endereco li{
    line-height: 42px;
    font-weight: 600;
}
.maps{
    display: inline-block; 
    margin: 30px;  
    
}
.maps img{
    width: 100%;
}