{% extends "base.html" %} {% block title %}Administrativo{% endblock %}

{% block content %}
<h1>Página para postagem dos dados</h1>
<a href="/">
<button class="btn btn-primary" type="button" >Preview</button>
</a>



<form action="" method="POST">
    <h3 align="Center">Cadastro de produtos</h3>
    <div class="form-group">
      <label for="produto">Produto</label>
      <input type="email" class="form-control" id="email" name="produto" placeholder="entre com um email válido">  
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="nome" name="descricao" placeholder="entre com um nome">  
    </div>
    <div class="form-group">
        <label for="valor">Valor</label>
        <input type="text" class="form-control" id="text" name="valor" placeholder="entre com sua senha">  
    </div>
    <div class="form-group">
        <label for="validade">validade</label>
        <input type="text" class="form-control" id="text" name="validade" placeholder="confirme sua senha">  
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}