{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1>Esta é a Home page</h1>
<h1 align="center">Adiciona notas- teste </h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control" placeholder="Digite uma frase"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Adiciona nota</button>
    </div>
</form>


<script>
    function deleteNote(noteId){
    fetch("/delete-note", {
        method: "POST",
        body: JSON.stringify({ noteId: noteId}),
    }).then((_res)=>{
        window.location.href = "/";
    });
}
</script>
{% endblock %}