{% extends "base.html" %} {% block title %}Mercado B {% endblock %}

{% block content %}
<div class="container" >


        <img class="imageteste" src="{{ url_for('static', filename='image/mercadob.png')}}" alt="ícone do mercado B">

    <div class="row" >
        <div class="col-md-10 col-sm-4">

            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/bombril.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Bombril</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/stylus.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Toalha de papel</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='image/vanish.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Alvejante</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>



            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/ninfa.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Bolacha</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='image/malitat.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Iorgut</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='image/fofo.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Amaciante</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/brilhante.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Sabão em pó</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/qualy.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Manteiga</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>

            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/fofo.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Amaciante</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/brilhante.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Sabão em pó</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/ninfa.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Bolacha</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="{{ url_for('static', filename='image/malitat.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i><strong>Iorgut</strong></i></p>
                    por:<h3><strong>10,00</strong></h3>
                    <p class="validade"><i>Valido até 14/06/22</i></p>
                </div>
            </div>
        </div>


        <div class="card  contato-card">
            <div class="card-body contato-body">
           
            
              <div class="endereco">
                
                <ul >
                    <li><img src="{{ url_for('static', filename='image/whats.png')}}" alt="ícone do whatssap"><strong>(11)92222-4444</strong></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='image/facebook.png')}}" alt="ícone do facebbok"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='image/instagram.png')}}" alt="ícone do instagram"></a></li>
                
                </ul>
              </div>
              <div class="endereco">
                  <ul>
                      <li>Av Souza Ramos</li>
                      <li>Rua Dos Texteis</li>
                      <li>Av Dos Metalúrgicos</li>
                  </ul>
              </div>
              <div class="endereco">
             
                <ul >
                    {% for comercio in comercios %}
                    <li><a class="btn btn-primary btn-sm" href="{{comercio.key}}">{{comercio.name}}</a></li>
                    {% endfor %}
                </ul>
              </div>
              <div class="endereco">
                <img class="maps-img" src="{{ url_for('static', filename='image/googlemaps.png')}}" alt="ícone do whatssap">
              </div>
              
            </div>
      
        </div>

</div>

{% endblock %}